extends layout
block content_head
    meta(charset='utf8')
    meta(name='viewport' content='width=device-width, user-scalable=no')
    title #{title}
    link(rel='shortcut icon' href='./modular_folder/login/image/loading.svg')
    link(rel='apple-touch-icon' href='./modular_folder/login/image/weblogo_sq.png')
    link(href='./frontend/biggggg/biggggg.css' rel='stylesheet' type='text/css')
    link(href='./frontend_data/css/glow.css' rel='stylesheet' type='text/css')
block content_header
    #onsleep_stat(style='display: none;') #{ var_jade_onsleep_stat }
    #GLOBAL_browse_post_on_scroll(style='display: none;') -1
    #social_page_stat(style='display: none;') -1
    #new_post_button_on_loaded_stat(style='display: none;') -1
    #snap_shoot_social_page_clean_html(style='display: none;')
    #snap_shoot_social_page_clean_html_stat(style='display: none;') -1
    #app_PostTmp_get_pooptmmp(style='display: none;') #{ var_app_PostTmp_get_pooptmmp }
    #app_PostTmp_get_poop_img_sel_tmmp(style='display: none;') #{ var_app_PostTmp_get_poop_img_sel_tmmp }
    .dont_show_this_in_published_client
        #field_battle_title_see 7.發文(檢視)
        #STAT_no_articles_here_or_stolen_by_aliens no_articles_here_or_stolen_by_aliens?undefine
        // do not remove me <3
        #main_poop_see(style='overflow-y: scroll')
    .dont_show_this_in_published_client
        #field_battle_title 7.發文
        //#usr_inp_img_num -1
        #usr_inp_send_success post_success?undefine
        // 等待這裡變yes再跳離發文頁面
        input#usr_inp_title(type='text' name='poop_title')
        // textarea name="poop_text" id="usr_inp_txt" rows="5" cols="60">edit text box ...</textarea
        //
          div id="usr_inp_post_btn" style="height: 30px; width: 30px; background-color: rgb(221, 185, 139);">發文按鈕
          </div
block content_body
    // home
    #top_bar
      #user_photo
        img(src="#{ var_jade_user_info_profileimage }")
      #animal_name #{ var_jade_user_info_name }
      #level
        div 等級: 
        #level_bar
          #level_value
    #back_block
      - if( var_jade_user_info_choosedanimal == "1") {
          #back1
          img.desktop_width_100(src='./frontend/biggggg/image/home_back1_land.svg' style='position:absolute; bottom:10%; z-index:2;')
          img.desktop_width_100(src='./frontend/biggggg/image/home_back1_cloud.svg' style='position:absolute; top:10%; z-index:1;')
      - } else if( var_jade_user_info_choosedanimal == "2") {
          #back2_1
          #back2_2
          img.desktop_width_100(src='./frontend/biggggg/image/home_back2_cloud.svg' style='position:absolute; top:10%; z-index:1;')
          #sun
            img(src='./frontend/biggggg/image/home_back2_sun.svg' style='height:100%;')
          img.desktop_width_100(src='./frontend/biggggg/image/home_back2_sand.svg' style='position:absolute; bottom:10%; z-index:3;')
          img.desktop_width_50(src='./frontend/biggggg/image/home_back2_unbrella.svg' style='position:absolute; right:calc(var(--var_right_global_displacement) + 0%); top:20%; z-index:4')
          - if( var_jade_onsleep_stat == "yes") {
              #tree(style="left:-2%;")
                img(src='./frontend/biggggg/image/home_back2_tree.svg' style='width: 100%;')
          - } else {
              #tree(style="left:25%;")
                img(src='./frontend/biggggg/image/home_back2_tree.svg' style='width: 100%;')
          - }
          //#tree
          //  img(src='./frontend/biggggg/image/home_back2_tree.svg' style='width: 100%;')
          //#coconut
          //  img(src='./frontend/biggggg/image/home_back2_coconut.svg' style='width: 100%;')
          - if( var_jade_onsleep_stat == "yes") {
              #coconut(style="left:10%;")
                img(src='./frontend/biggggg/image/home_back2_coconut.svg' style='width: 100%;')
          - } else {
              #coconut(style="left:25%;")
                img(src='./frontend/biggggg/image/home_back2_coconut.svg' style='width: 100%;')
          - }
      - } else if( var_jade_user_info_choosedanimal == "3") {
          #back3
          img.desktop_width_100(src='./frontend/biggggg/image/home_back3_cloud.svg' style='position:absolute; top:10%; z-index:1;')
          img.desktop_width_100(src='./frontend/biggggg/image/home_back3_land.svg' style='position:absolute; bottom:10%; z-index:2;')
      - } else {
          script.
            console.error("This is a serious error, please contact the software vendor");
      - }
    //#animal
    - if( var_jade_onsleep_stat == "yes") {
        #animal(style='display: none;')
    - } else {
        #animal(style='display: block;')
    - }
    #home_medal_block
      img(src='./frontend/biggggg/image/home_medal.svg' width='80%')
      #medal_button.button 徽章
    //#house
    - if( var_jade_onsleep_stat == "yes") {
        //#house
        - if( var_jade_user_info_choosedanimal == "1") {
            #house
              img(src='./frontend/biggggg/image/home_sleep1.svg' width='100%')
        - } else if( var_jade_user_info_choosedanimal == "2") {
            #house
              img(src='./frontend/biggggg/image/home_sleep2.svg' width='100%')
        - } else if( var_jade_user_info_choosedanimal == "3") {
            #house
              img(src='./frontend/biggggg/image/home_sleep3.svg' width='100%')
        - } else {
            script.
              console.error("This is a serious error, please contact the software vendor");
        - }
    - } else {
        #house
    - }
    //#menu_back
    - if( var_jade_user_info_choosedanimal == "1") {
        #menu_back(style="background-color:#61913D;")
    - } else if( var_jade_user_info_choosedanimal == "2") {
        #menu_back(style="background-color:#004D69;")
    - } else if( var_jade_user_info_choosedanimal == "3") {
        #menu_back(style="background-color:#61913D;")
    - } else {
        script.
          console.error("This is a serious error, please contact the software vendor");
    - }
      #menu
        #setting.menu_button.button
          img(src='./frontend/biggggg/image/home_button1.svg' height='100%')
        #stroll.menu_button.button
          img(src='./frontend/biggggg/image/home_button2.svg' height='100%')
        #mission.menu_button.button
          img(src='./frontend/biggggg/image/home_button3.svg' height='100%')
          #remind
            img(src='./frontend/biggggg/image/home_remind.svg')
        #social.menu_button.button
          img(src='./frontend/biggggg/image/home_button4.svg' height='100%')
    // post
    #post_html(style='position:absolute; top:0%; display:none;')
      #exit_button.button.exit_button_function_to_return_to_the_main_screen
      #upper_windows
        #new_post
          textarea#new_post_text(placeholder='打字打在這...' onfocus="this.placeholder = ''" onblur="this.placeholder = '打字打在這...'") #{var_app_PostTmp_get_pooptmmp}
          #new_post_button_block
            - if(var_app_PostTmp_get_poop_img_sel_tmmp) {
                #add_photo.button.glow(style='display:none;') 新增相片
            - } else {
                #add_photo.button(style='display:none;') 新增相片
            - }
            #new_post_button.button(style='display:none;') 發佈
        #browse_post
          // one post
          .post
            .poster_block
              .poster_photo
                img
              .post_detail
                .poster_name XXX
                .post_time OO OO OO
            .post_text
              | aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
              br
              | aaaaaaaaaaaaaa
              br
              | aaaaaaaa
              br
              | aaaaaaaaaa
              br
              | aaaaaaa
            .post_photo
              img
            .comment_group
              .more_comment
              // one comment
              .comment(style='display: none;')
                .commenter_name OOO
                .comment_text XXXXXXXXXXXXXXXXX
            .new_comment_block
              .new_comment
                .your_name XXX
                input#new_comment_text(type='text' placeholder='留言...' onfocus="this.placeholder = ''" onblur="this.placeholder = '留言...'")
              .post_comment_button.button 發佈
    // setting
    #setting_html(style='position:absolute; top:0%; display:none;')
      // _1 : setting
      #exit_button_1.button.exit_button_function_to_return_to_the_main_screen
      #upper_windows_1
        #windows_tree_1
        #time_blocks
          #setting_title 設定
          #wakeup_block.time_block
            .time_font 起床時間
            .separate
            input#wakeup_hour.time(type='number' pattern='[0-9]*' inputmode='numeric')
            .colon :
            input#wakeup_minute.time(type='number' pattern='[0-9]*' inputmode='numeric')
          #sleep_block.time_block
            .time_font 睡覺時間
            .separate
            input#sleep_hour.time(type='number' pattern='[0-9]*' inputmode='numeric')
            .colon :
            input#sleep_minute.time(type='number' pattern='[0-9]*' inputmode='numeric')
        .setting_logout 
          a#logout_btn(href="/users/logout" target="_top" rel="noopener noreferrer") 登出
          p(style="font-size:0.5vh;")
          a#github_btn(href="https://github.com/UIDD2021ElderlyApp/backend_ex/" target="_blank" rel="noopener noreferrer") 聯絡我們
    // mission
    #mission_html(style='position:absolute; top:0%; display:none;')
      // _2 : mission
      #exit_button_2.button.exit_button_function_to_return_to_the_main_screen
      #upper_windows_2
        #windows_tree_2
        #mission_block
          #daily_mission
            .mission_title 每日任務
            #daily_wakeup.daily_blocks
              .mission_number 任務1
              .mission_name1 起床
            #daily_sleep.daily_blocks
              .mission_number 任務2
              .mission_name1 睡覺
            #daily_shoot.daily_blocks
              .mission_number 任務3
              .mission_name1 拍照
            #daily_stroll.daily_blocks
              .mission_number 任務4
              .mission_name1 散步
          #continuous_mission
            .mission_title 持續任務
            .continuous_blocks
              .mission_number 任務1
              #continuous_stroll.mission_name2
            .continuous_blocks
              .mission_number 任務2
              #continuous_post.mission_name2
            .continuous_blocks
              .mission_number 任務3
              #continuous_comment.mission_name2
            .continuous_blocks
              .mission_number 任務4
              #continuous_level.mission_name2
    // medal
    #medal_html(style='position:absolute; top:0%; display:none;')
      // _3 : medal
      #exit_button_3.button.exit_button_function_to_return_to_the_main_screen
      #upper_windows_3
        #windows_tree_3
        #medal_block
          #medal_title 徽章
          #medal_table

block content_footer
    // home
    //<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    //<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    // post
    script(src='https://apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js')
    script(src='https://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.js')
    script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js')
    //- script(src='https://cdnjs.cloudflare.com/ajax/libs/phaser/2.6.2/phaser.min.js')
    //- script(src='./frontend_data/index_main.js')
    //script(src='https://cdn.jsdelivr.net/npm/phaser@3.55.2/dist/phaser.js')
    script(src='./frontend/biggggg/biggggg.js')
    script(src='./frontend/biggggg/petAnime.js')
    script(src='./frontend_data/screenshoot_tset.js')
    script(src='./frontend_data/tspoop/index_poop.js')
    script(src='./frontend_data/tspoop/index_poop_see.js')
    - if(var_app_PostTmp_get_poop_img_sel_tmmp||var_app_PostTmp_get_pooptmmp) {
        #jade_js_fuction_auto_pop_up_post_page(style='display: none;')
          script(src='./frontend_data/jade_js_fuction_auto_pop_up_post_page.js')
    - } else {
        #jade_js_fuction_auto_pop_up_post_page(style='display: none;')
    - }
